.caption {
  z-index: 10;
  width: 30%;
  background-color: #79a1e9;
  background-image: linear-gradient(0deg, #6376d5, #79a1e9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.panel {
  background-color: #d8dff2;
  background-image: linear-gradient(45deg, #d8dff2, white 80%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80%;
  margin-top: 5rem;
}

.panheader {
  background-image: linear-gradient(0deg, #0268fb, #244baa 90%);
  background-color: #244baa;
  color: white;
  font-family: "MS Sans-serif", sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 0rem 1rem;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
  border-bottom: #d2d7d7 solid 2px;
  height: max-content;
}

.panheader i {
  margin-right: 1rem;
}

.panbody {
  padding-left: 0;
  list-style-type: none;
}

.panbody li {
  align-items: center;
  display: flex;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: #425597;
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "MS Sans-serif", sans-serif;
}

.panbody i {
  margin-right: 1rem;
}

@media (max-width: 650px) {
  .caption {
    height: 35%;
    width: 100%;
    justify-content: center;
  }

  .panel {
    margin: .5rem;
  }

  .panbody {
    margin: 0;
  }

  .panbody li {
    padding-bottom: .25rem;
  }

  .panbody p, i {
    margin-top: .35rem;
    margin-bottom: .35rem;
  }

  .panheader p {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}