.container {
  box-sizing: border-box;
  font-family: "MS Sans-serif", sans-serif;
  z-index: 15;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 3rem;
  border-radius: 10px;
  border: solid #255fdc 2px;
  border-top: solid #6bb1ef 4px;
  box-shadow: 2px 2px 2px #00168f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 132px;
  z-index: 14;
  background-color: red;
  height: 100vh;
  width: calc(100vw - 132px);
}

.header {
  z-index: 5;
  padding: 0.5rem;
  height: 4rem;
  // border-top: solid #6bb1ef 4px;
  background-color: #1262d1;
  background-image: linear-gradient(0deg, #4e94f6 20%, #1262d1);
  display: flex;
  color: white;
  align-items: center;
  box-shadow: 0px 2px 2px #73554b;
}

.header img {
  max-height: 80%;
  margin-right: 0.5rem;
  box-shadow: 2px 2px 2px #00168f;
  border: #c9d9e9 solid 2px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #00168f;
}

.header a {
  text-decoration: none;
  color: white;
  padding-block-start: 0.5rem;
}

.header a:hover {
  text-decoration: underline;
}

.header h3, .header a {
  margin: 0;
  text-shadow: 2px 2px 2px #273e68;
}

.header div {
  display: flex;
  flex-direction: column;
  padding-inline-start: 1rem;
}

.footer {
  border-top: solid #355f91 1px;
  height: 3rem;
  background-color: #1262d1;
  background-image: linear-gradient(0deg, #1262d1 20%, #4e94f6);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer button {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  box-shadow: 1px 1px 2px #00168f;
  text-shadow: 2px 2px 2px #273e68;
  background-color: #259a25;
  background-image: linear-gradient(0deg, #259a25 80%, #125b2e);
  margin: 0.5rem;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  font-stretch: extra-expanded;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer button:nth-child(2) {
  color: white;
  padding: 0.5rem;
  box-shadow: 1px 1px 2px #00168f;
  text-shadow: 2px 2px 2px #273e68;
  background-color: #dc3509;
  background-image: linear-gradient(135deg, #dda2b6, #dc3509);
  margin: 0.5rem;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  font-stretch: extra-expanded;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer button:focus {
  outline: 0;
}

.footer button:active {
  background-color: #125b2e;
  background-image: none;
  box-shadow: none;
}

.footer button:nth-child(2):active {
  background-color: #dc3509;
  background-image: none;
  box-shadow: none;
}

.footer button:hover {
  cursor: pointer;
}

.content {
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 5rem);
}

.blue {
  background-color: #d3e5fb;
  border-left: #a2b7d6 solid 1px;
  height: 100%;
  width: 35%;
}

.cv {
  width: auto;
  height: 30px;
  padding-left: 0.1rem;
  margin-right: 0.75rem;
}

.music {
  width: auto;
  height: 42px;
  margin-right: 0.5rem;
}

.blue button {
  width: 100%;
  border: none;
  padding: 0.5rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  font-weight: 900;
  color: #00168f;
  cursor: pointer;
}

.blue button:hover {
  background-color: #255fdc;
}

.white {
  box-sizing: border-box;
  background-color: white;
  height: calc(100% - 3rem);
  width: 65%;
  padding: .75rem;
  overflow-y: auto;
}

.white p {
  margin: 0;
  padding: 0.25rem 0.5rem .75rem;
  line-height: 150%;
}


@media (max-width: 650px) {
  .container {
    width: 100vw;
    height: calc(90vh - 3rem);
    border-radius: 0;
  }

  .footer {
    display: none;
  }
  .content {
    flex-direction: column;
  }

  .blue {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 3rem;
    height: 3rem;
  }

  .white {
    width: 100%;
    max-height: calc(100% - 3rem);
    overflow-y: scroll;
  }

  .blue {
    bottom: 0;
  }

  .blue img {
    display: none;
  }

  .blue button {
    margin: .25rem 0rem;
    border-radius: 1rem;
    padding: 1rem;
    width: unset;
  }
}