.container {
  position: fixed;
  left: 0;
  width: 65%;
  height: 80%;
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: solid #255fdc 4px;
  box-shadow: 2px 2px 2px #00168f;
}

.container button:hover {
  cursor: pointer;
}

.title-bar {
  background-image: linear-gradient(0deg, #0268fb, #0254e4 80%, #338fff);
  color: white;
  font-family: "MS Sans-serif", sans-serif;
  text-shadow: 2px 2px black;
  padding-left: 1rem;
  max-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlebtns {
  display: flex;
}

.titlebtns button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6376d5;
  background-image: linear-gradient(135deg, #6376d5, #79a1e9);
  border-radius: 6px;
  border-style: solid;
  border-color: white;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 2px #00168f;
}

.titlebtns button:nth-child(3) {
  background-color: #dc3509;
  background-image: linear-gradient(135deg, #dda2b6, #dc3509);
  border-radius: 6px;
  border-style: solid;
  border-color: white;
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
  font-stretch: extra-expanded;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 1.75rem;
  height: 1.75rem;
  text-decoration: none;
  box-shadow: 2px 2px 2px #00168f;
}

.titlebtns button:nth-child(3):active {
  background-color: #dc3509;
  background-image: none;
  box-shadow: none;
}

.title-bar button:active {
  background-image: none;
  box-shadow: none;
  background-color: #0254e4;
}

.title-bar button:focus {
  outline: 0;
}

.tool-bar {
  padding-left: 0px;
  height: 3rem;
  background-color: #f0f0e4;
  border-bottom: #d2d7d7 solid 2px;
}

.menus {
  display: flex;
  list-style-type: none;
  margin-top: 0.25rem;
  padding-left: 1rem;
}

.menus li {
  margin-right: 0.5rem;
  font-family: "MS Sans-serif", sans-serif;
  font-size: 0.9rem;
}

@media (max-width: 650px) {
  .container {
    box-sizing: border-box;
    top: 0rem;
    left: 0;
    width: 100vw;
    height: calc(90vh - 3rem);
    margin: 0;
  }

  .tool-bar {
    height: unset;
  }

  .tool-bar ul {
    margin: 0.25rem;
  }
  

}