.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.trim {
    height: 10vh;
    background-color: #00309c;
    width: 100%;
}

.content {
    display: flex;
    height: 80vh;
    align-items: center;
    background-color: #bedcfe;
    background-image: linear-gradient(25deg, #f2993b, #bedcfe, #00309c);
}

.block-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #5a7edc;
    background-image: linear-gradient(-45deg, #5a7edc 60%, #93b1ef);
    width: 50vw;
    height: 79vh;
    padding-right: 2rem;
}

.block-b {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #5a7edc;
    width: 50vw;
    height: 79vh;
}

.vert-trim {
    width: 2px;
    height: 67vh;
    background-color: #bedcfe;
    background-image: linear-gradient(0deg, #5a7edc, #bedcfe, #5a7edc);
    margin-right: 2rem;
}
.enter-wrapper {
    width: 40.5vw;
    height: 8.8vh;
    background-color:#bedcfe;
    background-image: linear-gradient(-90deg, #5a7edc, #bedcfe 99%);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter {
    width: 40vw;
    height: 8vh;
    background-color: #00309c;
    background-image: linear-gradient(-90deg, #5a7edc, #00309c 99%);
    display: flex;
    align-items: center;
    border-radius: .75rem;
}


.enter button {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 6vh;
    width: 4vw;
    border: #ffe714 solid 2px;
    border-radius: .75rem;
    box-shadow: 3px 3px #043077;
}

.enter img {
    max-height: 4vh;
}

.macro-hard {
    font-size: .75rem;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #5672d6
}

.screen-doors {
    margin: 0;
    text-shadow: 2px 2px #5672d6
}

.avatar-name {
    height: 8vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.avatar-name h2 {
    padding: 0;
    // margin: 0;
    font-size: 1.25rem;
    text-shadow: 2px 2px #043077;
}